{% extends 'sidenavbar.html' %} {% block title %}Statement Of
Originality{%endblock%} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STATEMENT OF ORIGINALITY</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <h1 class="mb-3" style="color: green; text-align: justify; font-size: 1em">
      <i
        >We certify that to the best of our knowledge, the ideas and the work
        described in this log have resulted from the work of the team signing
        off from here.</i
      >
    </h1>
    <!-- 1 -->
    <div class="row">
      <!-- First Row -->
      <div class="col-md-6">
        <label class="labels">
          <h1
            class="mb-3"
            style="
              font-family: 'Times New Roman', Times, serif;
              color: dark green;
              text-align: center;
              font-size: 1.4em;
            "
          >
            <b>Inventor Name</b>
          </h1>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Sohani"
          name="inventor"
          value="{{record.inventor}}"
        />
      </div>
      <div class="col-md-6">
        <label class="labels">
          <h1
            class="mb-3"
            style="
              font-family: 'Times New Roman', Times, serif;
              color: dark green;
              text-align: center;
              font-size: 1.4em;
            "
          >
            <b>School Name & Grade</b>
          </h1>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Saline High School (11)"
          name="schoolnamegrade"
          value="{{record.schoolnamegrade}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Second Row -->
      <div class="col-md-6">
        <!-- Signature Field -->
        <div class="mb-3">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 1.4em;
              "
            >
              <b>Signature</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            name="sign"
            placeholder="sohani018"
            value="{{record.sign}}"
          />
        </div>
      </div>
    </div>
    <!-- Question Answeer Box  Ends-->
    {% include 'table_buttons.html' %}
  </form>
  {% if statement %}
  <div class="container mt-5 text-center">
    <h2>Statements</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col">User</th> -->
          <th scope="col">Inventor</th>
          <th scope="col">School Name & Grade</th>
          <th scope="col">Signature</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in statement %}
        <tr>
          <!-- <td>{{ info.userId }}</td> -->
          <td>{{ info.inventor }}</td>
          <td>{{ info.schoolnamegrade }}</td>
          <td>{{ info.sign }}</td>
          <!-- <td>{{ info.date_updated }}</td> -->
          <td>
            <a
              style="display: inline"
              href="{% url 'statementOfOriginality' pk sk 1 info.id %}"
            >
              <button class="btn btn-info" type="submit">Edit</button>
            </a>
            <form
              action="{% url 'deleteInfo' 1 info.id pk sk %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
