{% extends 'layout.html' %} {% block title %}Step 1: IDENTIFY {%endblock %} {%
load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 8- PREPARE TO MARKET</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        8.3 Describe your typical customer. What is their
      </label>
      <div class="d-flex flex-column">
        <label for="expert_name">Age: </label>
        <input type="number" name="age" id="age" placeholder="Enter here" />
        <label for="gender">Gender: </label>
        <input type="text" name="gender" id="gender" placeholder="Enter here" />
        <label for="education">Education Level: </label>
        <input type="text" name="education" rows="5" id="education" placeholder="Enter here">
        <label for="household">Household Size: </label>
        <input type="text" name="household" rows="5" id="household" placeholder="Enter here">
        <label for="marital">Marital Size: </label>
        <input type="text" name="marital" rows="5" id="marital" placeholder="Enter here">
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
</div>
<!-- Question Answeer Box Ends-->
<div class="table border text-center">
  <table class="">
    <thead>
      <tr>
        <th>User</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Education Level</th>
        <th>Household Size</th>
        <th>Marital Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for info in customers %}
      <tr class="border">
        <td>{{ info.userId }}</td>
        <td>{{ info.age }}</td>
        <td>{{ info.gender }}</td>
        <td>{{ info.education }}</td>
        <td>{{ info.household }}</td>
        <td>{{ info.marital_status }}</td>
        <td>{{ info.date_updated }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
