{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %}
{% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 3 : DEVELOP IDEAS AND DRAFT ALTERNATE SOLUTIONS</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        Q3.1 Research and record the most important factors in solving this
        problem.</label
      >
      <input
        class="form-control"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Your Answer"
        name="research"
        value="{{record.research}}"
      />
    </div>
    {% include 'table_buttons.html' %}
  </form>
  {% if all_records %}
  <div class="container mt-5 text-center">
    <h2>Researches</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col">User</th> -->
          <th scope="col">Research</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for research in all_records %}
        <tr>
          <!-- <td>{{ research.userId }}</td> -->
          <td>{{ research.research }}</td>
          <!-- <td>{{ research.date_updated }}</td> -->
          <td>
            <a
              style="display: inline"
              href="{% url 'showInfo' pk sk 4 research.id 0 %}"
            >
              <button class="btn btn-success" type="submit">Edit</button>
            </a>
            <form action="{% url 'deleteInfo' 4 research.id pk sk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
