{% extends 'layout.html' %} 
{% block title %}Step 3: DEVELOP IDEAS AND DRAFT ALTERNATE SOLUTIONS{% endblock %}
{% load static %} 
{% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 3 : DEVELOP IDEAS AND DRAFT ALTERNATE SOLUTIONS</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="inputlg" style="font-family: 'Times New Roman', Times, serif; font-size: 19px">
        Q3.1 Research and record the most important factors in solving this problem.
      </label>
    </div>
    <div id="solutions-container">
      <div class="solution-box mb-3">
        <label for="solution_1">Solution 1</label>
        <textarea class="form-control" rows="3" style="font-family: 'Times New Roman', Times, serif; font-size: 19px;" name="solution_1"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <button type="button" class="btn btn-success" id="add-solution-button">Add Another Solution</button>
      {% include 'buttons.html' %}
  </div>
  </form>
</div>
<!-- Question Answeer Box  Ends-->

<script src="{% static 'js/stepThreeOne.js' %}"></script>
{% endblock %}
