{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %}
{% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 6 - OVER TO LABORTARY</h5>
  </div>
</nav>
{{issues}}
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        Q 6.1 Arrange the materials, tools and machinery you'll use to build
        your prototype. Do not hesitate to ask for help from others where you
        need it. Proto1-Build: Note any and all observations you have while
        building. Attach pictures of the process as you build.
      </label>
      <input
        class="form-control"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Your Answer"
        name="arrange_material"
      />
      <input class="" type="file" name="prototype" id="" />
    </div>
    {% include 'table_buttons.html' %}
  </form>
  {% if step6 %}
  <div class="container mt-5 text-center">
    <h2>Issues</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
          <th scope="col">Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in step6 %}
        <tr>
          <td>{{ info.userId }}</td>
          <td>{{ info.arrange_material }}</td>
          <td>
            <a href="{% url 'viewImage' info.id  %}"
              ><button class="btn btn-success" type="button">View</button></a
            >
          </td>
          <td>{{ info.date_updated }}</td>
          <td>
            <button class="btn btn-danger" type="button">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
