{% extends 'sidenavbar.html' %} {% block title %}Step 2: DEFINE AND MAKE
SENSE{%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 2- DEFINE AND MAKE SENSE OF THE PROBLEM</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="inputlg"
        >2.1 Talk to others and understand all aspects of the problems. Now,
        pick one problem you want to move forward with and take the next
        step.</label
      >
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            <label style="font-weight: bolder" for="problem"
              >Choose a problem:</label
            >
            <select class="p-1 rounded mx-2" id="problem" name="problem">
              {% for problem in data %} 
              <option value="{{problem.identify_problems}}">
                {{problem.identify_problems}}
              </option>
              {% endfor %}
            </select>
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <div class="container">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-4 column">
                  <h5>Name</h5>
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Person name"
                      id="name"
                      name="name"
                      value="{{record.name}}"
                    />
                  </div>
                </div>
                <!-- Second Column -->
                <div class="col-md-4 column">
                  <h5>Age</h5>
                  <div class="mb-3">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Select age"
                      id="age"
                      name="age"
                      value="{{record.age}}"
                    />
                  </div>
                </div>
                <!-- Third Column -->
                <div class="col-md-4 column">
                  <h5>Comments</h5>
                  <div class="mb-3">
                    <input
                      class="form-control"
                      placeholder="Write comments"
                      id="comment"
                      name="comment"
                      value="{{record.comment}}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
  {% if all_records %}
  <div class="container mt-5 text-center">
    {% regroup all_records|dictsort:'problem' by problem as grouped_problems %}
    {% for group in grouped_problems %}
    <h2>{{ group.grouper }}</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col">User</th> -->
          <!-- <th scope="col">Problem</th> -->
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Comment</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in group.list %}
        <tr>
          <!-- <td>{{ info.userId }}</td> -->
          <!-- <td>{{ info.problem }}</td> -->
          <td>{{ info.name }}</td>
          <td>{{ info.age }}</td>
          <td>{{ info.comment }}</td>
          <!-- <td>{{ info.date_updated }}</td> -->
          <td>
            <a
              style="display: inline"
              href="{% url 'showInfo' pk sk 3 info.id 1 %}"
            >
              <button class="btn btn-success" type="submit">Edit</button>
            </a>
            <form
              action="{% url 'deleteInfo' 3 info.id pk sk %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
