{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %}
{% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 6 - OVER TO LABORTARY</h5>
  </div>
</nav>
{{issues}}
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        Q 6.1 Arrange the materials, tools and machinery you'll use to build
        your prototype. Do not hesitate to ask for help from others where you
        need it. Proto1-Build: Note any and all observations you have while
        building. Attach pictures of the process as you build.
      </label>
      <input
        class="form-control"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Your Answer"
        name="arrange_material"
      />
      <input type="file" name="prototype" id="" />
    </div>
    {% include 'table_buttons.html' %}
  </form>
</div>
{% if step6 %}
<div class="table border text-center">
  <table class="">
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Image</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for info in step6 %}
      <tr class="border">
        <td>{{ info.userId }}</td>
        <td>{{ info.arrange_material }}</td>
        <td>
          <a href="{% url 'viewImage' info.id  %}"
            ><button type="button">View</button></a
          >
        </td>
        <td>{{ info.date_updated }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<!-- Question Answeer Box  Ends-->
{% endblock %}
