{% extends 'sidenavbar.html' %} {% block title %}Step 2: DEFINE AND MAKE
SENSE{%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 2- DEFINE AND MAKE SENSE OF THE PROBLEM</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="inputlg"
        >2.1 Talk to others and understand all aspects of the problems. Now,
        pick one problem you want to move forward with and take the next
        step.</label
      >
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            <h6>Problem 1:&nbsp;&nbsp;&nbsp;</h6>
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <div class="container">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-4 column">
                  <h3>Name</h3>
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Person name 1"
                      id="name"
                      name="name"
                    />
                  </div>
                </div>
                <!-- Second Column -->
                <div class="col-md-4 column">
                  <h3>Age</h3>
                  <div class="mb-3">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Select age"
                      id="age"
                      name="age"
                    />
                  </div>
                </div>

                <!-- Third Column -->
                <div class="col-md-4 column">
                  <h3>Comments</h3>
                  <div class="mb-3">
                    <input
                      class="form-control"
                      placeholder="Write comments"
                      id="comment"
                      name="comment"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
  {% if persons %}
  <div class="container mt-5 text-center">
    <h2>Problems</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Comment</th>
          <th scope="col">Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in persons %}
        <tr>
          <td>{{ info.userId }}</td>
          <td>{{ info.name }}</td>
          <td>{{ info.age }}</td>
          <td>{{ info.comment }}</td>
          <td>{{ info.date_updated }}</td>
          <td>
            <button class="btn btn-danger" type="button">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
