{% extends 'sidenavbar.html' %} {% block title %}Step 8: PREPARE TO
MARKET{%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 8- PREPARE TO MARKET</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        8.3 Describe your typical customer. What is their:
      </label>
      <div class="form-group">
        <label for="age">Age:</label>
        <input
          type="number"
          class="form-control"
          id="age"
          name="age"
          placeholder="Enter here"
        />
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          name="gender"
          placeholder="Enter here"
        />
      </div>
      <div class="form-group">
        <label for="education">Education Level:</label>
        <input
          type="text"
          class="form-control"
          id="education"
          name="education"
          placeholder="Enter here"
        />
      </div>
      <div class="form-group">
        <label for="household">Household Size:</label>
        <input
          type="text"
          class="form-control"
          id="household"
          name="household"
          placeholder="Enter here"
        />
      </div>
      <div class="form-group">
        <label for="marital">Marital Status:</label>
        <input
          type="text"
          class="form-control"
          id="marital"
          name="marital_status"
          placeholder="Enter here"
        />
      </div>
    </div>
    <!-- Buttons-->
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <button
            class="btn btn-success mr-1"
            type="submit"
            name="action"
            value="back"
          >
            Back
          </button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <div class="col-6 d-flex align-items-center justify-content-end">
            <button
              class="btn btn-success mx-1"
              type="submit"
              name="action"
              value="add"
            >
              Add
            </button>
            <button
              class="btn btn-success mx-1"
              type="submit"
              name="action"
              value="next"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Buttons ends-->
  </form>
  <!-- Question Answeer Box Ends-->
  {% if customers %}
  <div class="container mt-5 text-center">
    <h2>Customers</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Education Level</th>
          <th scope="col">Household Size</th>
          <th scope="col">Marital Status</th>
          <th scope="col">Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in customers %}
        <tr>
          <td>{{ info.userId }}</td>
          <td>{{ info.age }}</td>
          <td>{{ info.gender }}</td>
          <td>{{ info.education }}</td>
          <td>{{ info.household }}</td>
          <td>{{ info.marital_status }}</td>
          <td>{{ info.date_updated }}</td>
          <td>
            <form
              action="{% url 'deleteInfo' 7 info.id pk sk %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
