{% extends 'layout.html' %} {% block title %}Step 1: IDENTIFY {%endblock %} {%load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 4- OVER TO THE DRAWING BOARD</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        4.2 Talk to experts and potential users of your solution about the
        obstacles/ problems you are likely to face in making a real model of
        your design. Note those problems and how you identified them. Note what
        the experts and users said, their experience in this area, and why you
        chose to talk to them. Along with the observations of others, also note
        what problems you think you will face in making a model. Note the
        credentials of the experts here.
      </label>
      <div class="d-flex flex-column">
        <label for="expert_name">User/Expert Name: </label>
        <input type="text" name="expert_name" id="expert_name" placeholder="Enter here" />
        <label for="expert_credentials">Credentials of the experts: </label>
        <input type="text" name="expert_credentials" id="expert_credentials" placeholder="Enter here" />
        <label for="problem_identified">Problem user/expert identified: </label>
        <textarea name="problem_identified" rows="5" id="problem_identified" placeholder="Enter here"></textarea>
        <label for="problem_faced">Problem you think you will face: </label>
        <textarea name="problem_faced" rows="5" id="problem_faced" placeholder="Enter here"></textarea>
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
</div>
<!-- Question Answeer Box  Ends-->
<div class="table border text-center">
  <table class="">
    <thead>
      <tr>
        <th>User</th>
        <th>Expert</th>
        <th>Credentials</th>
        <th>Identified Problem</th>
        <th>Problem Faced</th>
      </tr>
    </thead>
    <tbody>
      {% for info in issues %}
      <tr class="border">
        <td>{{ info.userId }}</td>
        <td>{{ info.expert_name }}</td>
        <td>{{ info.expert_credentials }}</td>
        <td>{{ info.problem_identified }}</td>
        <td>{{ info.problem_faced }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
