{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %}
{%load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 4- OVER TO THE DRAWING BOARD</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        4.2 Talk to experts and potential users of your solution about the
        obstacles/ problems you are likely to face in making a real model of
        your design. Note those problems and how you identified them. Note what
        the experts and users said, their experience in this area, and why you
        chose to talk to them. Along with the observations of others, also note
        what problems you think you will face in making a model. Note the
        credentials of the experts here.
      </label>
      <div class="d-flex flex-column">
        <label for="expert_name">User/Expert Name: </label>
        <input
          type="text"
          name="expert_name"
          id="expert_name"
          placeholder="Enter here"
        />
        <label for="expert_credentials">Credentials of the experts: </label>
        <input
          type="text"
          name="expert_credentials"
          id="expert_credentials"
          placeholder="Enter here"
        />
        <label for="problem_identified">Problem user/expert identified: </label>
        <textarea
          name="problem_identified"
          rows="5"
          id="problem_identified"
          placeholder="Enter here"
        ></textarea>
        <label for="problem_faced">Problem you think you will face: </label>
        <textarea
          name="problem_faced"
          rows="5"
          id="problem_faced"
          placeholder="Enter here"
        ></textarea>
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
  <!-- Question Answeer Box  Ends-->
  {% if issues %}
  <div class="container mt-5 text-center">
    <h2>Issues</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Expert</th>
          <th scope="col">Credentials</th>
          <th scope="col">Identified Problem</th>
          <th scope="col">Problem Faced</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for issue in issues %}
        <tr>
          <td>{{ issue.userId }}</td>
          <td>{{ issue.expert_name }}</td>
          <td>{{ issue.expert_credentials }}</td>
          <td>{{ issue.problem_identified }}</td>
          <td>{{ issue.problem_faced }}</td>
          <td>{{ issue.date_updated }}</td>
          <td>
            <button class="btn btn-danger" type="button">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
