{% extends 'layout.html' %}
{% block title %}Step 2: DEFINE AND MAKE SENSE{% endblock %}
{% load static %}
{% block content %}
<!-- second header  -->
<nav class="navbars">
    <div class="container-fluid-nav text-center">
        <h5>STEP 2- DEFINE AND MAKE SENSE OF THE PROBLEM</h5>
    </div>
</nav>
<!-- second header ends  -->
<!-- Question Answer Box -->
<div class="QA_container mb-1 p-5">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="inputlg">
                2.1 Talk to others and understand all aspects of the problems. Now, pick one problem you want to move forward with and take the next step.
            </label>
            <div id="problems-container">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item problem-box mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <h6>Problem 1:&nbsp;&nbsp;&nbsp;</h6>
                                <textarea class="form-control" rows="1" style="width: 88%; font-family: 'Times New Roman', Times, serif; font-size: 19px;" placeholder="" name="problem_1">{{step1.identify_problems}}</textarea>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <!-- First Column -->
                                        <div class="col-md-4 column">
                                            <h3>Person Name</h3>
                                            <div class="mb-3">
                                                <input type="text" value="{{members.0.name1}}" class="form-control" placeholder="Person name 1" id="name1" name="p1name1" />
                                            </div>
                                        </div>
                                        <!-- Second Column -->
                                        <div class="col-md-4 column">
                                            <h3>Age</h3>
                                            <div class="mb-3">
                                                <input type="number" value="{{members.0.age1}}" class="form-control" placeholder="Select age" id="age1" name="p1age1" />
                                            </div>
                                        </div>
                                        <!-- Third Column -->
                                        <div class="col-md-4 column">
                                            <h3>Comments</h3>
                                            <div class="mb-3">
                                                <textarea class="form-control" placeholder="Write comments" id="comment1" name="p1comment1" rows="1">{{members.0.comment1}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
                <button type="button" class="btn btn-success" id="add-problem-button">Add Problem</button>
                {% include 'buttons.html' %}
            </div>
            <br />
        </div>

    </form>
</div>
<!-- Question Answer Box  Ends-->

<script src="{% static 'js/stepTwoOne.js' %}"></script>
{% endblock %}
