{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 7 - TEST YOUR PROTOTYPE</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
      7.1 Describe how you will test your prototype?
      </label>
      <textarea
        class="form-control"
        rows="10"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Your Answer"
        name="testing"
      >{{step7.testing}}</textarea
      >
    </div>
    {% include 'buttons.html' %}
  </form>
</div>
<!-- Question Answeer Box  Ends-->
{% endblock %}
