{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 1- IDENTIFY THE PROBLEM</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        Q1.Identify problems you or your friends and family relate with.</label
      >
      <input
        class="form-control"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Problem Name"
        name="identify_problems"
      />
      <input
        class="form-control"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Problem"
        name="problems"
      />
    </div>
    {% include 'table_buttons.html' %}
  </form>
  {% if step1 %}
  <div class="container mt-5 text-center">
    <h2>Problems</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col">User</th> -->
          <th scope="col">Problem Name</th>
          <th scope="col">Problem</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in step1 %}
        <tr>
          <!-- <td>{{ problem.userId }}</td> -->
          <td>{{ problem.identify_problems }}</td>
          <td>{{ problem.problems }}</td>
          <!-- <td>{{ problem.date_updated }}</td> -->
          <td>
            <form action="{% url 'deleteInfo' 2 problem.id pk sk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-success" type="submit">Edit</button>
            </form>
            <form action="{% url 'deleteInfo' 2 problem.id pk sk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
<!-- Question Answeer Box  Ends-->
{% endblock %}
