{% extends 'sidenavbar.html' %} {% block title %}Step 1: IDENTIFY {%endblock %}
{% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 8- PREPARE TO MARKET</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
        8.3 Describe your typical customer. What is their
      </label>
      <div class="d-flex flex-column">
        <label for="expert_name"
          >Age:
          <input type="number" name="age" id="age" placeholder="Enter here" />
        </label>
        <label for="gender"
          >Gender:
          <input
            type="text"
            name="gender"
            id="gender"
            placeholder="Enter here"
          />
        </label>
        <label for="education"
          >Education Level:
          <input
            type="text"
            name="education"
            rows="5"
            id="education"
            placeholder="Enter here"
          />
        </label>
        <label for="household"
          >Household Size:
          <input
            type="text"
            name="household"
            rows="5"
            id="household"
            placeholder="Enter here"
          />
        </label>
        <label for="marital"
          >Marital Size:
          <input
            type="text"
            name="marital"
            rows="5"
            id="marital"
            placeholder="Enter here"
          />
        </label>
      </div>
    </div>
    {% include 'table_buttons.html' %}
  </form>
  <!-- Question Answeer Box Ends-->
  {% if customers %}
  <div class="container mt-5 text-center">
    <h2>Customers</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Education Level</th>
          <th scope="col">Household Size</th>
          <th scope="col">Marital Status</th>
          <th scope="col">Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for info in customers %}
        <tr>
          <td>{{ info.userId }}</td>
          <td>{{ info.age }}</td>
          <td>{{ info.gender }}</td>
          <td>{{ info.education }}</td>
          <td>{{ info.household }}</td>
          <td>{{ info.marital_status }}</td>
          <td>{{ info.date_updated }}</td>
          <td>
            <button class="btn btn-danger" type="button">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
