{% extends 'layout.html' %} {% block title %}Step 1: IDENTIFY {%endblock %} {% load static %} {% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STEP 5- PLAN FOR PROTOTYPING</h5>
  </div>
</nav>

<!-- second header ends  -->
<!-- Question Answeer Box -->
<div class="QA_container mb-1 p-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label
        class="form-label"
        for="inputlg"
        style="font-family: 'Times New Roman', Times, serif; font-size: 19px"
      >
      5.1 Talk to experts (engineers, scientists, entrepreneurs) to:
      (a) figure out the best materials, parts and components to use; (b) and
      where to find them. Record the materials, parts and components you will
      use and where you will get them from.
      </label
      >
      <textarea
        class="form-control"
        rows="10"
        style="
          height: 100%;
          font-family: 'Times New Roman', Times, serif;
          font-size: 19px;
        "
        placeholder="Your Answer"
        name="difference"
      >
{{step3.difference}}</textarea
      >
    </div>
    {% include 'buttons.html' %}
  </form>
</div>
<!-- Question Answeer Box  Ends-->
{% endblock %}
